<main>
 <p is="notice"></p>
 <div class="container">
  <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>User info</h2>

    <% if @user.errors.any? %>
    <div id="error_explanation">
     <h3><%= @user.errors.count %> errors prohibited this book from being saved:</h3>
     <% @user.errors.full_messages.each do |message| %>
     <ul>
      <li><%= message %></li>
     </ul>
     <% end %>
    <% end %>

    <%= form_with model:@user, local:true do |f| %>
    <div>
     <label for="inputName">Name</label>
    </div>
    <div>
     <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
    </div>
    <div>
     <label for="inputImage">Image</label>
    </div>
    <div>
     <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
    </div>
    <div>
     <label for="inputIntroduction">Introduction</label>
    </div>
    <div>
     <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction", placeholder:"自己紹介文"%>
    </div>
     <%= f.submit "Update User" ,class: "btn btn-secondary"%>
    <% end %>
   </div>
  </div>
 </div>
</main>